---
import { Image } from 'astro:assets';
import logo from '@/images/logo.png';
import aboutBg from '@/images/about-background.png';
import professionals from '@/images/professionals.png';
import patients from '@/images/patients.png';
import publicSector from '@/images/public-sector.png';
import feature1 from '@/images/feature-1.png';
import feature2 from '@/images/feature-2.png';
import feature3 from '@/images/feature-3.png';
import aiAssistantFeatures from '@/images/assistant-features.png';
import contactBg from '@/images/contact.svg';
import { ContactForm } from '@/components/ContactForm';
import { MobileMenu } from '@/components/MobileMenu';

import '@/styles/globals.css';
import MenuItems from '@/components/MenuItems.astro';
import {
  ChartNoAxesCombined,
  Contact,
  Flag,
  Folder,
  Mail,
  MapPinHouse,
  Plus,
  Settings,
} from 'lucide-react';
import SectionHeader from '@/components/SectionHeader.astro';
import Section from '@/components/Section.astro';
import Feature1Content from '@/components/Feature1Content.astro';
import Feature3Content from '@/components/Feature3Content.astro';
import { Progress } from '@/components/ui/progress';
import Teams from '@/components/Teams.astro';

const leftNavs = [
  {
    label: 'services',
    href: '/#services',
  },
  {
    label: 'features',
    href: '/#features',
  },
];
const rightNavs = [
  {
    label: 'about us',
    href: '/#about-us',
  },
  {
    label: 'contact',
    href: '/#contact',
  },
];

const mainNavs = [
  {
    label: 'homepage',
    href: '/',
  },
  ...leftNavs,
  ...rightNavs,
];

const audiences = [
  {
    icon: professionals,
    bg: 'bg-[#FFF1F2]',
    borderColor: 'border-[#FB7185]',
    title: 'Professionals',
    description:
      'We reduce workload and leverage information resource, increasing the effectiveness of the diagnosis process.',
  },
  {
    icon: patients,
    bg: 'bg-[#EFF6FF]',
    borderColor: 'border-[#60A5FA]',
    title: 'Patients',
    description:
      'We manage electronic health records and provide personalized insights.',
  },
  {
    icon: publicSector,
    bg: 'bg-[#FAF5FF]',
    borderColor: 'border-[#A855F7]',
    title: 'Public Sector',
    description:
      'We detect anomalies in public health and track down the root cause.',
  },
];

const features = [
  {
    image: feature1,
    title: 'Medical AI Dashboard',
    subtitle:
      'Web application to automate medical data processing and medical insights extracting.',
    content: Feature1Content,
  },
  {
    image: feature2,
    title: 'Electronic Health Companion',
    subtitle:
      'Mobile application to standardize and manage your electronic health record and personalize healthcare experience.',
  },
  {
    image: feature3,
    title: 'Public Health Monitor',
    subtitle:
      'Command center dashboard to detect anomalies and track down root cause.',
    content: Feature3Content,
  },
];

const assistantFeatures = [
  {
    icon: Plus,
    title: 'Empathetic Interaction',
    desscription:
      'Engage in natural and informative conversations with our AI Health Assistant. Ask questions about your health.',
  },
  {
    icon: Settings,
    title: 'Natural Language Understanding',
    desscription:
      'Engage in natural and informative conversations with the AI Health Assistant, making it easy.',
  },
  {
    icon: ChartNoAxesCombined,
    title: 'Proactive Health Insights',
    desscription:
      'Benefit from proactive health insights derived from AI-driven predictive analytics  every single day.',
  },
];
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/x-icon' href='favicon-main.svg' />
    <title>SafeRX | Healthcare with AI</title>
    <meta
      name='description'
      content='Significantly reduce prescription errors with the power of AI and large language models.'
    />
  </head>
  <body class='bg-white text-gray-900 font-light'>
    <nav
      class='shadow-lg z-10 flex items-center justify-between bg-background fixed top-3 left-1/2 -translate-x-1/2 rounded-xl px-6 py-3 w-[98%]'
    >
      <MenuItems items={leftNavs} />
      <a href='/'>
        <Image src={logo} alt='Logo' class='rounded-md w-14 h-14' />
      </a>
      <MenuItems items={rightNavs} />
      <MobileMenu client:media='(max-width: 640px)' />
    </nav>
    <header class='h-screen bg-primary relative text-white'>
      <div
        class='container relative h-2/3 top-1/2 -translate-y-1/2 text-white grid grid-cols-2'
      >
        <div
          class='relative md:col-span-1 col-span-full md:text-left text-center'
        >
          <div class='relative left-0 top-1/2 -translate-y-1/2'>
            <ul
              class='font-bold text-6xl capitalize flex flex-col gap-y-12 text-blue-300'
            >
              {
                mainNavs.map((item) => {
                  if (item.href === '/') {
                    return (
                      <li class='text-white'>
                        <span>&#8729; </span>
                        <a href={item.href}>{item.label} </a>
                      </li>
                    );
                  }
                  return (
                    <li class='hover:text-white'>
                      <a href={item.href}>{item.label} </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
        <div class='relative font-thin md:block hidden'>
          <div class='absolute top-0 left-0 w-60 text-lg'>
            <div class='flex items-center justify-start gap-x-2 font-bold mb-3'>
              <Flag />
              <p>Our Mission</p>
            </div>
            <p>
              Venera AI is an end-to-end modernized software solution to improve
              healthcare system.
            </p>
          </div>
          <div class='absolute bottom-0 left-0 w-60 text-lg'>
            <div class='flex items-center justify-start gap-x-2 font-bold mb-3'>
              <Mail />
              <p>Our Contact Info</p>
            </div>
            <div>
              <p>4008 Murray Ave,</p>
              <p>Pittsburgh, PA</p>
              <p>+541-908-9436</p>
            </div>
          </div>
          <div class='absolute bottom-1/2 right-0 w-60 text-lg'>
            <div class='flex items-center justify-start gap-x-2 font-bold mb-3'>
              <Folder />
              <p>Our Resources</p>
            </div>
            <ul>
              <li><a href='/'>Blog Posts</a></li>
              <li><a href='/'>Whitepapers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <p class='absolute bottom-8 left-8'>
        © 2024 SafeRX / Venera AI | VIAI | All rights reserved
      </p>
    </header>
    <section class='h-screen relative'>
      <Image src={aboutBg} alt='random' class='absolute bottom-0 left-0' />
      <Image
        src={aboutBg}
        alt='random'
        class='absolute top-0 right-0 rotate-180'
      />
      <div
        class='container absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2'
      >
        <h3
          class='font-extrabold text-7xl sm:text-9xl text-center sm:text-left'
        >
          Health <span class='text-primary'>.</span>
        </h3>
        <h3 class='font-extrabold text-7xl sm:text-9xl text-center my-12'>
          Meets<span class='text-primary'>.</span>
        </h3>
        <h3
          class='font-extrabold text-7xl sm:text-9xl text-center sm:text-right'
        >
          ML + AI<span class='text-primary'>.</span>
        </h3>
      </div>
    </section>
    <section class='lg:py-36 py-24' id='services'>
      <div class='container'>
        <div
          class='flex md:items-center justify-between xl:gap-x-36 gap-x-16 flex-col md:flex-row items-start gap-y-4'
        >
          <div class='text-nowrap whitespace-nowrap'>
            <div class='flex items-center gap-x-2 text-2xl font-bold'>
              <span class='text-primary'>&#8729; </span>
              <h3>Our Commitment</h3>
            </div>
            <h2 class='font-extrabold text-5xl mt-4'>Who We Serve</h2>
          </div>
          <p class='text-xl font-extralight'>
            We're committed to improving patient outcomes and reducing the
            burden on healthcare providers through the seamless integration of
            intelligent automation and data-driven insights.
          </p>
        </div>
        <div
          class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-5 xl:gap-x-12 lg:mt-20 mt-9 gap-y-12'
        >
          {
            audiences.map((audience) => {
              return (
                <div class='bg-[#F1F5F9] rounded-lg md:p-5 p-3 flex flex-col gap-y-5 pb-8'>
                  <div
                    class={`${audience.bg} ${audience.borderColor} flex items-center justify-center border rounded-lg aspect-square `}
                  >
                    <Image src={audience.icon} alt={audience.title} />
                  </div>
                  <h6 class='font-extrabold text-2xl'>{audience.title}</h6>
                  <p class='font-extralight text-lg'>{audience.description}</p>
                </div>
              );
            })
          }
        </div>
      </div>
    </section>
    <Section id='features'>
      <SectionHeader extraClasses='text-center'>Our Core Features</SectionHeader
      >
      <div class='mt-28 flex flex-col lg:gap-y-24 gap-y-24 items-center'>
        {
          features.map((feature) => {
            return (
              <div class='grid md:grid-cols-2 grid-cols-1 lg:gap-x-32 gap-y-8 gap-x-16 group/feature items-center w-full sm:w-5/6 md:w-full'>
                <Image
                  src={feature.image}
                  alt={feature.title}
                  class='w-full md:group-even/feature:order-1'
                />
                <div class='md:group-even/feature:-order-1 flex flex-col justify-center'>
                  <div class='lg:w-5/6 w-full flex flex-col gap-y-4 md:gap-y-6'>
                    <h6 class='font-extrabold text-4xl'>{feature.title}</h6>
                    <p class='text-lg text-[#475569]'>{feature.subtitle}</p>
                    {feature.content && <feature.content />}
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </Section>
    <section class='text-center'>
      <div class='w-[98%] mx-auto bg-[#1E293B] text-white rounded-lg py-24'>
        <div class='flex flex-col gap-y-8 container items-center'>
          <div class='border py-2 px-4 border-white rounded-lg font-semibold'>
            Health Revolution 4.0
          </div>
          <SectionHeader>AI Health Assistant Features</SectionHeader>
          <p class='text-xl'>
            Benefit from evidence-based insights derived from AI analysis of
            your health metrics and historical data.
          </p>
          <Image src={aiAssistantFeatures} alt='AI Health Assitant Features' />
          <div
            class='grid lg:grid-cols-3 grid-cols-1 w-full md:w-full sm:w-5/6 md:grid-cols-2 gap-y-8 xl:gap-x-36 lg:gap-x-16 gap-x-8 text-center mt-6'
          >
            {
              assistantFeatures.map((feature) => {
                return (
                  <div class='flex flex-col items-center gap-y-4'>
                    <div class='bg-[#334155] p-3 rounded-lg'>
                      <feature.icon />
                    </div>
                    <p class='font-extrabold text-xl'>{feature.title}</p>
                    <p class='font-extralight'>{feature.desscription}</p>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </section>
    <section class='lg:py-36 py-24 text-center'>
      <div class='flex flex-col gap-y-8 container items-center'>
        <div class='border py-2 px-4 border-gray-900 rounded-lg font-semibold'>
          How It Works
        </div>
        <SectionHeader>How Our AI LLM Works</SectionHeader>
        <p class='text-xl'>
          Leverage the power of AI to predict potential health issues. Receive
          proactive recommendations for preventive care based on data analytics.
        </p>
        <div class='relative md:w-2/3 w-full mt-36 md:block hidden'>
          <Progress value={87} className='h-1 ' />
          <div
            class='absolute left-0 top-1/2 rounded-md -translate-y-1/2 w-6 h-6 bg-primary'
          >
            <div
              class='bg-white h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
            >
            </div>
          </div>
          <div
            class='absolute left-1/3 top-1/2 rounded-md -translate-y-1/2 w-6 h-6 bg-primary'
          >
            <div
              class='bg-white h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
            >
            </div>
          </div>
          <div
            class='absolute left-2/3 top-1/2 rounded-md -translate-y-1/2 w-6 h-6 bg-primary'
          >
            <div
              class='bg-white h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
            >
            </div>
          </div>
          <div
            class='absolute right-0 top-1/2 rounded-md -translate-y-1/2 w-6 h-6 border-gray-400 border'
          >
            <div
              class='bg-gray-200 h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
            >
            </div>
          </div>
          <div
            class='absolute top-4 left-2 -translate-x-1/2 flex flex-col items-center w-[225px]'
          >
            <p class='font-extrabold'>User Input</p>
            <p>Receive personalized health insight</p>
          </div>
          <div
            class='absolute bottom-4 lg:top-4 left-1/3 -translate-x-1/2 flex flex-col items-center w-[225px]'
          >
            <p class='font-extrabold'>AI Algorithm</p>
            <p>Analyze input & Metrics</p>
          </div>
          <div
            class='absolute top-4 left-2/3 -translate-x-1/2 flex flex-col items-center w-[225px]'
          >
            <p class='font-extrabold'>AI Recommendation</p>
            <p>Receive personalized health</p>
          </div>

          <div
            class='absolute bottom-4 lg:top-4 right-2 translate-x-1/2 flex flex-col items-center w-[225px]'
          >
            <p class='font-extrabold'>Iterative Improvement</p>
            <p>The AI learns from user interactions</p>
          </div>
        </div>

        <div class='relative w-full sm:w-[80%] mt-12 md:hidden block text-left'>
          <div
            class='bg-secondary h-[80%] w-1 absolute top-1/2 -translate-y-1/2 left-2.5'
          >
            <div class='h-[87%] w-full bg-primary'></div>
          </div>
          <div class='flex flex-col justify-start gap-y-12'>
            <div class='flex items-center gap-x-8'>
              <div class='w-6 h-6 bg-primary relative rounded-md'>
                <div
                  class='bg-white h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
                >
                </div>
              </div>
              <div>
                <p class='font-extrabold'>User Input</p>
                <p>Receive personalized health insight</p>
              </div>
            </div>
            <div class='flex items-center gap-x-8'>
              <div class='w-6 h-6 bg-primary relative rounded-md'>
                <div
                  class='bg-white h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
                >
                </div>
              </div>
              <div>
                <p class='font-extrabold'>AI Algorithms</p>
                <p>Analyze input & Metrics</p>
              </div>
            </div>
            <div class='flex items-center gap-x-8'>
              <div class='w-6 h-6 bg-primary relative rounded-md'>
                <div
                  class='bg-white h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
                >
                </div>
              </div>
              <div>
                <p class='font-extrabold'>AI Recommendation</p>
                <p>Receive personalized health insights</p>
              </div>
            </div>
            <div class='flex items-center gap-x-8'>
              <div
                class='w-6 h-6 border border-gray-400 bg-white relative rounded-md'
              >
                <div
                  class='bg-gray-200 h-2 w-2 left-1/2 top-1/2 absolute -translate-x-1/2 -translate-y-1/2 rounded-sm'
                >
                </div>
              </div>
              <div>
                <p class='font-extrabold'>Iterative Improvement</p>
                <p>The AI learns from user interactions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Teams />
    <section class='lg:h-screen h-auto relative pt-24 lg:pt-0'>
      <div class='container flex h-full flex-col justify-center gap-y-12'>
        <SectionHeader>Get In Touch</SectionHeader>
        <p class='text-xl text-[#475569]'>
          Send us a message and we'll get back to you as soon as possible.
        </p>
        <div class='flex items-start gap-x-16'>
          <div class='flex flex-col gap-y-2'>
            <MapPinHouse className='text-[#94A3B8]' />
            <p class='font-bold'>Our Address</p>
            <p>4008 Murray Ave</p>
            <p>Pittsburgh, PA</p>
          </div>
          <div class='flex flex-col gap-y-2'>
            <Contact className='text-[#94A3B8]' />
            <p class='font-bold'>Our Contact Info</p>
            <a href='tel:1 (541) 908 9436'>1 (541) 908 9436</a>
            <a href='mailto:admin@viai.io'>admin@viai.io</a>
          </div>
        </div>
      </div>
      <Image
        src={contactBg}
        alt='contact'
        class='lg:absolute bottom-0 right-0 relative -z-10'
      />
    </section>
    <Section id='contact'>
      <SectionHeader extraClasses='mb-16'>Request a Demo</SectionHeader>
      <ContactForm client:visible />
    </Section>

    <footer class='p-3'>
      <div class='bg-[#1E293B] py-6 rounded-xl text-center'>
        <div class='container flex text-white flex-col items-center gap-y-12'>
          <Image src={logo} alt='Logo Footer' class='rounded-md w-14 h-14' />
          <p class='text-lg'>
            Revolutionizing The Personalized Health Industry through the power
            of AI Technology and Machine Learning.
          </p>
          <ul
            class='flex gap-y-2 flex-row flex-wrap items-center justify-center gap-x-12'
          >
            <li
              class='capitalize text-gray-400 hover:text-white font-extrabold text-lg'
            >
              <a href='/'>Homepage</a>
            </li>
            {
              [...leftNavs, ...rightNavs].map((nav) => {
                return (
                  <li class='capitalize font-extrabold text-lg text-gray-400 hover:text-white'>
                    <a href={nav.href}>{nav.label}</a>
                  </li>
                );
              })
            }
          </ul>
          <p>© 2024 SafeRX / Venera AI | VIAI</p>
        </div>
      </div>
    </footer>
  </body>

  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  </style>

  <script>
    document.querySelector('.mobile-nav-btn')?.addEventListener('click', () => {
      document.querySelector('.nav-bar')?.classList.toggle('translate-x-0');
    });

    const menuItems = document.querySelectorAll('.menu-item');
    for (const menuItem of menuItems) {
      menuItem.addEventListener('click', () => {
        if (
          document
            .querySelector('.nav-bar')
            ?.classList.contains('-translate-x-full')
        ) {
          document.querySelector('.nav-bar')?.classList.remove('translate-x-0');
        }
      });
    }
  </script>
</html>
