---
import type { ImageMetadata } from 'astro';
import { TeamMemberModal } from './TeamMemberModal';

interface Props {
  name: string;
  title: string;
  image: ImageMetadata;
  desc: string;
}

const { name, title, image, desc } = Astro.props;
---

<div
  class='rounded-xl bg-white px-4 py-5 pt-7 flex flex-col justify-between gap-y-5'
>
  <div class='flex flex-col gap-y-3'>
    <p class='font-extrabold text-lg leading-none'>{name}</p>
    <p class='font-medium text-md text-[#475569] leading-none'>{title}</p>
  </div>
  <TeamMemberModal
    image={image}
    name={name}
    title={title}
    desc={desc}
    client:visible
  />
</div>
